#terminal{
    width:80px;
    margin:40px auto;
    padding:20px;
    border:2px dashed #00ff9c;
    height:680;
    overflow: auto;
}

.terminal{
    color:#00ff9c;
}
.input-line{ 
    display:flex;
}
input{
    background-color: transparent;
    border: none;
    color:#00ff9c;
    outline:none;
    width: 100%;
    font-family: monospace;
}

.logo{
    font-size: 2px;
}
































